{
displayStrings = (
"ڡ/fehDotless-ar.swsh/fehDotless-ar.init/fehDotless-ar.init.conn-yeh-1 ٯ/qafDotless-ar.swsh/qafDotless-ar.fina/qafDotless-ar.fina.swsh وﻮ/waw-ar.fina.conn-mf-2",
"ى/alefMaksura-ar.swsh/alefMaksura-ar.swsh.ui/alefMaksura-ar.ui/alefMaksura-ar.fina.conn-y-2/alefMaksura-ar.fina.conn-yeh-2  /alefMaksura-ar.fina.conn-yeh-2.ui  /alefMaksura-ar.fina.hi"
);
}
